body {
    font-family: sans-serif;
    color: gray;
    margin: 20px;
    background-color: #444444;
}

form {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.search {
    display: flex;
}

.ham-x {
    margin-top:4px;
    width: 40px;

    display: flex;
}
.ham-o {
    margin-top:4px;
    width: 40px;

    display: flex;
}

li {
    cursor: pointer;

}

li:hover {
    color: blue;
}

.airport {
    opacity: 0.9;
    position: absolute;
    overflow-y: auto;
    z-index: 1;
    top: 150px;
    left: 50px;
    height: 500px;
    border-radius: 10px;
    width: 90px;
}

.my-map {
    height: 700px;
    width: auto;
    border-radius: 10px;
}

.form-control {
    border-radius: 10px;
    width:100%;
}

.form {
    width: 100%;
}

.error {
    color: red;
    text-align: center;
    margin-bottom:5px;
}


.ui-menu .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

/* height media queries */
@media only screen and (min-height: 975px) {
    .my-map {
        height: 904px;
    }
}

@media only screen and (min-height: 721px) and (max-height: 770px) {
    .my-map {
        height: 650px;
    }
}

@media only screen and (min-height: 671px) and (max-height: 720px) {
    .airport {
        height: 450px;
    }

    .my-map {
        height: 600px;
    }
}

@media only screen and (min-height: 621px) and (max-height: 670px) {
    body {
        margin: 15px;
    }

    .airport {
        height: 400px;
        font-size: small;
    }

    .my-map {
        height: 500px;
    }
}

@media only screen and (min-height: 571px)  and (max-height: 620px) {
    body {
        margin: 10px;
    }

    .airport {
        height: 350px;
        font-size: small;
        top: 140px;
        left: 50px;
    }

    .my-map {
        height: 500px;
    }
}

@media only screen and (min-height: 521px) and (max-height: 570px) {
    body {
        margin: 10px;
    }

    .airport {
        height: 300px;
        font-size: small;
        top: 120px;
        left: 40px;
    }

    .my-map {
        height: 450px;
    }
}

@media only screen and (min-height: 471px) and (max-height: 520px) {
    body {
        margin: 5px;
    }

    .airport {
        height: 250px;
        font-size: smaller;
        top: 110px;
        left: 40px;
    }

    .my-map {
        height: 400px;
    }
}

@media only screen and (min-height: 386px) and (max-height: 470px) {
    body {
        margin: 5px;
    }

    .airport {
        height: 200px;
        font-size: smaller;
        top: 100px;
        left: 30px;
    }

    .my-map {
        height: 330px;
    }
}

@media only screen and (min-height: 361px) and (max-height: 385px) {
    body {
        margin: 5px;
    }

    .airport {
        height: 200px;
        font-size: smaller;
        top: 100px;
        left: 30px;
    }

    .my-map {
        height: 305px;
    }
}

@media only screen and (min-height: 336px) and (max-height: 360px) {
    body {
        margin: 5px;
    }

    .airport {
        height: 200px;
        font-size: smaller;
        top: 100px;
        left: 30px;
    }

    .my-map {
        height: 280px;
    }
}

@media only screen and (max-height: 335px) {
    body {
        margin: 5px;
    }

    .airport {
        height: 200px;
        font-size: smaller;
        top: 100px;
        left: 30px;
    }

    .my-map {
        height: 275px;
    }
}


/* width media queries */


@media only screen and (min-width: 550px) {

    .airport {
        width: 150px;
    }
}

@media only screen and (min-width: 800px) {

    .airport {
        width: 200px;
    }
}



